@charset "UTF-8";
.pageCont_wrap {
  margin-left: 25rem;
  width: calc(100% - 25rem);
  min-height: calc(100vh - 8.5rem);
}

.pageCont_wrap.height {
  min-height: auto;
}

.pageCont_wrap .inner {
  padding: 4rem 4rem 0rem 4rem;
}

.page_tit_area {
  position: relative;
  margin-bottom: 2rem;
}

.page_tit_area p {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 5px;
}

.page_tit_area button {
  margin: 0 5px;
  vertical-align: -7px;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  border: 1px solid #E8EBF0;
  background: url(../images/icon/star.svg) center no-repeat #fff;
}

.page_tit_area button.mark_btn.active {
  background: url(../images/icon/star_on.svg) center no-repeat #fff;
}

.page_tit_area button.msg_icon {
  background: url(../images/icon/msg.svg) center no-repeat #fff;
}

.page_tit_area button.msg_icon.active {
  background: url(../images/icon/msg_on.svg) center no-repeat #fff;
}

.page_tit_area .select_cont_area {
  position: absolute;
  top: 0;
  right: 0;
}

.page_tit_area .select_cont_area .select_tit {
  font-size: 1.4rem;
  float: left;
  margin-top: 1rem;
  margin-right: 1rem;
  color: #8B95A1;
}

.page_tit_area .select_cont_area .select_box {
  float: left;
  width: 17rem;
  border: 1px solid #E8EBF0;
  background-color: #fff;
  border-radius: 5px;
}

.page_msg_area {
  margin-bottom: 2rem;
  background-color: #EFF1F5;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 2rem;
  color: #445365;
  line-height: 1.8;
  display: none;
}

/* 마이페이지 전체 컨텐츠 영역 */
.table_cont_area::after {
  display: block;
  content: '';
  clear: both;
}

.table_cont_area .left_area {
  float: left;
  width: 40%;
  height: calc(100vh - 23.3rem);
}

.table_cont_area .right_area {
  float: right;
  width: calc(60% - 6rem);
}

.table_cont_area .right_area .cont_box {
  height: calc(50vh - 14.8rem);
}

.table_cont_area .right_area .cont_box + .cont_box {
  margin-top: 2rem;
}

.table_cont_area .lookup_cont_area {
  padding: 0px 0 2rem;
}

.table_cont_area .lookup_cont_area::after {
  display: block;
  content: '';
  clear: both;
}

.table_cont_area .lookup_cont_area .select_box {
  float: left;
  width: 13rem;
  border-radius: 5px;
  border: 1px solid #E8EBF0;
}

.table_cont_area .lookup_cont_area .input_box {
  float: right;
  width: calc(100% - 14rem);
}

.table_cont_area .lookup_cont_area .input_box input {
  float: left;
  width: calc(100% - 7rem);
}

.table_cont_area .lookup_cont_area .input_box button {
  float: right;
}

.table_cont_area .table_box_area .area {
  width: calc(100% - 1rem);
  padding-right: 1rem;
  overflow-y: scroll;
  height: calc(100vh - 38.4rem);
}

.table_cont_area .table_box_area .area.halfHeight {
  height: calc(50vh - 19rem);
}

.table_cont_area .table_box_area .area table {
  width: 100%;
}

.table_cont_area .table_box_area .area table.blue_type .nice-select {
  height: 2rem;
  line-height: 2rem;
}

.table_cont_area .table_box_area .area table th {
  text-align: center;
}

.table_cont_area .table_box_area .area table td {
  text-align: center;
}

.table_cont_area .btn_cont_area {
  margin-top: 2rem;
  text-align: right;
}

.table_cont_area .btn_cont_area button {
  margin-left: 1rem;
}

.table_cont_area .posi_right_area {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.table_cont_area .posi_right_area::after {
  display: block;
  content: '';
  clear: both;
}

.table_cont_area .posi_right_area .input_cont_area {
  float: left;
  position: relative;
}

.table_cont_area .posi_right_area .input_cont_area::after {
  content: '';
  display: block;
  width: 1px;
  height: 1.6rem;
  background: #D1D6DA;
  position: absolute;
  top: 50%;
  right: -1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.table_cont_area .posi_right_area .input_cont_area span {
  font-size: 1.4rem;
  color: #5F6E81;
  margin-right: 1rem;
}

.table_cont_area .posi_right_area .input_cont_area input {
  width: 12rem;
  border: 1px solid #F4F5F7;
  margin: 0 0.5rem;
}

.table_cont_area .posi_right_area .input_cont_area input.long {
  width: 17rem;
}

.table_cont_area .posi_right_area .input_cont_area input:disabled {
  color: #8B95A1;
  font-weight: 700;
  background: #F4F5F7;
}

.table_cont_area .posi_right_area .input_cont_area.cu_input_cont input {
  width: 25rem;
}

.table_cont_area .posi_right_area .one_cont_area {
  float: left;
  margin-left: 3rem;
}

.table_cont_area .posi_right_area .one_cont_area .icon {
  width: 3.6rem;
  height: 3.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #D1D6DA;
  border-radius: 5px;
  font-size: 0;
  text-indent: -9999px;
  vertical-align: 5px;
  background: url(../images/icon/arrow_down.svg) center no-repeat;
}

.table_cont_area .posi_right_area .one_cont_area .icon + .icon {
  background: url(../images/icon/arrow_up.svg) center no-repeat;
  margin: 0 0.5rem;
}

/*고객 접촉 전체 영역 */
.layout_type_03 {
  margin-top: 2rem;
}

.layout_type_03::after {
  display: block;
  content: '';
  clear: both;
}

.layout_type_03 .left_box {
  width: calc(45% - 3rem);
  float: left;
  position: relative;
}

.layout_type_03 .left_box .arrow_btn_area {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.layout_type_03 .left_box .arrow_btn_area .icon {
  width: 3.6rem;
  height: 3.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #D1D6DA;
  border-radius: 5px;
  font-size: 0;
  text-indent: -9999px;
  vertical-align: 5px;
  background: url(../images/icon/arrow_left.svg) center no-repeat;
}

.layout_type_03 .left_box .arrow_btn_area .icon + .icon {
  background: url(../images/icon/arrow_right.svg) center no-repeat;
  margin: 0 0.5rem;
}

.layout_type_03 .right_cont_layout {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(55% - 2.5rem);
}

.layout_type_03 .center_box {
  width: 30%;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.layout_type_03 .center_box .box-area-tit {
  padding: 2rem 2rem 0 2rem;
  position: relative;
}

.layout_type_03 .center_box .search_btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  color: #333D4B;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #E8EBF0;
}

.layout_type_03 .center_box .search_btn i {
  margin-right: 5px;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/icon/search.svg) center no-repeat;
}

.layout_type_03 .right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(70% - 1.5rem);
}

.layout_type_03 .right_box.half .cont_box {
  height: 48.6%;
  margin-bottom: 2.4%;
}

.layout_type_03 .right_box.half .cont_box + .cont_box {
  margin-bottom: 0;
}

.calendar_cont_area table {
  width: 100%;
}

.calendar_cont_area table tr:nth-of-type(even) td {
  background-color: transparent;
}

.calendar_cont_area table .red {
  color: #C0504D;
}

.calendar_cont_area table .blue {
  color: #4881BD;
}

.calendar_cont_area table th {
  font-size: 1.2rem;
  text-align: center;
  color: #8B95A1;
  background-color: #F4F5F7;
  font-weight: 700;
}

.calendar_cont_area table th:first-of-type {
  padding: 0.8rem;
  color: #C0504D;
}

.calendar_cont_area table th:last-of-type {
  color: #4881BD;
}

.calendar_cont_area table td {
  text-align: center;
  position: relative;
  padding: 0;
}

.calendar_cont_area table td:first-of-type {
  padding: 0rem;
}

.calendar_cont_area table td p {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.2rem;
}

.calendar_cont_area table td p.op {
  color: #D1D6DA;
}

.calendar_cont_area table td .bar_line {
  min-height: 15rem;
  display: block;
  width: 100%;
  margin-top: 3rem;
}

.calendar_cont_area table td .bar_line > div {
  padding: 3px 0 3px 10px;
  text-align: left;
  margin-bottom: 6px;
}

.calendar_cont_area table td .bar_line > div .num {
  font-size: 1.2rem;
  font-weight: normal;
}

.calendar_cont_area table td .bar_line > div .name {
  font-size: 1.2rem;
  margin-left: 3px;
}

.calendar_cont_area table td .bar_line > div.bg_blue {
  background-color: rgba(66, 109, 193, 0.1);
}

.calendar_cont_area table td .bar_line > div.bg_blue .num {
  color: #426DC1;
}

.calendar_cont_area table td .bar_line > div.bg_red {
  background-color: rgba(249, 115, 122, 0.1);
}

.calendar_cont_area table td .bar_line > div.bg_red .num {
  color: #F9737A;
}

.calendar_cont_area .date-table .red {
  color: #C0504D !important;
}

.calendar_cont_area .date-table .blue {
  color: #4881BD !important;
}

.calendar_cont_area .date-table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calendar_cont_area .date-table .tr .td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100%/7);
  min-height: 17rem;
  border-bottom: 1px solid #E8EBF0;
  border-right: 1px solid #E8EBF0;
}

.calendar_cont_area .date-table .tr .td:nth-of-type(7n) {
  border-right: 0;
}

.calendar_cont_area .date-table .tr .td .num {
  font-size: 1.6rem;
  color: #333D4B;
  font-weight: 700;
  text-align: center;
  padding: 0.8rem 0;
}

.calendar_cont_area .date-table .tr .td .num.op {
  opacity: 0.56;
}

.calendar_cont_area .date-table .tr .td .bar_line {
  display: block;
  width: 100%;
}

.calendar_cont_area .date-table .tr .td .bar_line > div {
  padding: 3px 0 3px 10px;
  text-align: left;
  margin-bottom: 6px;
}

.calendar_cont_area .date-table .tr .td .bar_line > div .num {
  font-size: 1.2rem;
  font-weight: normal;
  font-weight: 700;
}

.calendar_cont_area .date-table .tr .td .bar_line > div .name {
  font-size: 1.2rem;
  margin-left: 3px;
  font-weight: 700;
}

.calendar_cont_area .date-table .tr .td .bar_line > div.bg_blue {
  background-color: rgba(66, 109, 193, 0.1);
}

.calendar_cont_area .date-table .tr .td .bar_line > div.bg_blue .num {
  color: #426DC1;
}

.calendar_cont_area .date-table .tr .td .bar_line > div.bg_red {
  background-color: rgba(249, 115, 122, 0.1);
}

.calendar_cont_area .date-table .tr .td .bar_line > div.bg_red .num {
  color: #F9737A;
}

.calendar_cont_area .desc_area {
  padding-top: 2rem;
}

.calendar_cont_area .desc_area span {
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 20px;
}

.calendar_cont_area .desc_area span::before {
  vertical-align: middle;
  margin-right: 5px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.calendar_cont_area .desc_area span.off {
  display: none;
}

.calendar_cont_area .desc_area span.dot1::before {
  background-color: #F9737A;
}

.calendar_cont_area .desc_area span.dot2::before {
  background-color: #426DC1;
}

.calendar_cont_area .desc_area span.dot3::before {
  background-color: #B6E8DA;
}

.calendar_cont_area .desc_area span.dot4::before {
  background-color: #FFD591;
}

.calendar_cont_area .desc_area span.dot5::before {
  background-color: #D1D6DA;
}

.layout_type_03 .info_desc_area {
  padding: 0 1rem 1rem 1rem;
}

.layout_type_03 .info_desc_area dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-top: 1px solid #E8EBF0;
}

.layout_type_03 .info_desc_area dl::after {
  display: block;
  content: '';
  clear: both;
}

.layout_type_03 .info_desc_area dl dt {
  width: 35%;
  font-size: 1.2rem;
  color: #445365;
  padding: 0.9rem 0;
  background-color: #DBDEE5;
  border-right: 1px solid #E8EBF0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.layout_type_03 .info_desc_area dl dd {
  width: calc(100% - 40%);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.9rem;
  overflow: hidden;
}

.layout_type_03 .info_desc_area dl:last-of-type {
  border-bottom: 1px solid #E8EBF0;
}

.layout_type_03 .info_desc_area dl:last-of-type dt {
  height: 17rem;
  line-height: 17rem;
  padding: 0;
}

.layout_type_03 .info_desc_area dl:last-of-type dd {
  text-indent: 0;
  position: relative;
}

.layout_type_03 .info_desc_area dl:last-of-type dd .text {
  width: calc(100% - 3rem);
  line-height: 1.8;
  padding: 1.5rem;
  font-size: 1.2rem;
  word-break: break-all;
}

.layout_type_03 .info_desc_area dl.none_box {
  border: none;
}

.layout_type_03 .info_desc_area dl.none_box dt {
  line-height: normal;
  padding: 0;
}

.layout_type_03 .info_desc_area dl.none_box dd {
  height: auto;
  padding: 0;
}

.layout_type_03 .search_icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 3.6rem;
  height: 3.6rem;
  font-size: 0;
  text-indent: -99999px;
  background: url(../images/icon/search.svg) center no-repeat;
  border-radius: 0.5rem;
  border: 1px solid #E8EBF0;
}

.layout_type_03 .client_input_area {
  margin-bottom: 1.2rem;
}

.layout_type_03 .client_input_area::after {
  display: block;
  content: '';
  clear: both;
}

.layout_type_03 .client_input_area.type input {
  width: 11.5rem;
  max-width: 20rem;
  margin-right: 0.5rem;
}

.layout_type_03 .client_input_area span {
  font-size: 1.4rem;
  color: #5F6E81;
  margin-right: 1rem;
  float: left;
}

.layout_type_03 .client_input_area input {
  width: 12rem;
  margin-right: 1rem;
  float: left;
  display: block;
}

.layout_type_03 .client_input_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}

.layout_type_03 .client_input_type span {
  font-size: 1.4rem;
  color: #5F6E81;
}

.layout_type_03 .client_input_type .short_box {
  width: 33%;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout_type_03 .client_input_type .short_box span {
  width: 40%;
}

.layout_type_03 .client_input_type .short_box input {
  width: 60%;
}

.layout_type_03 .client_input_type .long_box {
  width: 63%;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout_type_03 .client_input_type .long_box span {
  width: 20%;
}

.layout_type_03 .client_input_type .long_box input {
  width: 80%;
}

.layout_type_03 .client_input_type .half_box {
  width: 48%;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout_type_03 .client_input_type .half_box span {
  width: 25%;
}

.layout_type_03 .client_input_type .half_box input {
  width: 75%;
}

.layout_type_03 .date_table_type {
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.layout_type_03 .date_table_type.scroll_none {
  overflow-x: visible;
}

.layout_type_03 .date_table_type.scroll_none table {
  width: 100%;
}

.layout_type_03 .date_table_type table {
  width: 120%;
  table-layout: fixed;
}

.layout_type_03 .date_table_type table th {
  padding: 0.8rem;
  text-align: center;
}

.layout_type_03 .date_table_type table th:first-of-type {
  padding: 0.8rem;
}

.layout_type_03 .date_table_type table td {
  padding: 0.8rem;
  text-align: center;
  position: relative;
}

.layout_type_03 .date_table_type table td:first-of-type {
  padding: 0.8rem;
}

.layout_type_03 .date_table_type table .ellpsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layout_type_03 .date_table_type table .tool-tip {
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.layout_type_03 .date_table_type table .tool-tip:hover + .tool-text {
  display: block;
}

.layout_type_03 .date_table_type table .tool-text {
  display: none;
  font-size: 1.2rem;
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 10;
  padding: 0.8rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 30px rgba(0, 45, 98, 0.11);
          box-shadow: 0 3px 30px rgba(0, 45, 98, 0.11);
  font-weight: 400;
  color: #fff;
  background: #333D4B;
  text-align: left;
}

.layout_type_03 .form_cont_area .dl_area {
  border-top: 1px solid #E8EBF0;
  border-bottom: 1px solid #E8EBF0;
}

.layout_type_03 .form_cont_area dl {
  padding-top: 1.2rem;
}

.layout_type_03 .form_cont_area dl::after {
  display: block;
  content: '';
  clear: both;
}

.layout_type_03 .form_cont_area dl dt {
  float: left;
  width: 12%;
  font-size: 1.2rem;
  font-weight: 700;
}

.layout_type_03 .form_cont_area dl dd {
  float: left;
  width: calc(100% - 12%);
}

.layout_type_03 .form_cont_area dl:last-of-type {
  padding-bottom: 2rem;
}

.layout_type_03 .form_cont_area .radio_area::after {
  display: block;
  content: '';
  clear: both;
}

.layout_type_03 .form_cont_area .radio_area .radio_cont {
  float: left;
  margin-right: 1rem;
}

.layout_type_03 .form_cont_area .select_area::after {
  display: block;
  content: '';
  clear: both;
}

.layout_type_03 .form_cont_area .select_area .select_box {
  float: left;
  width: 13rem;
  border-radius: 5px;
  border: 1px solid #E8EBF0;
  margin-right: 1rem;
}

.layout_type_03 .form_cont_area .select_area .select_box.width {
  width: 15rem;
}

.layout_type_03 .form_cont_area .select_area .select_box.width .current {
  display: inline-block;
  padding-left: 2.5rem;
  background: url(../images/icon/calendar.svg) center left no-repeat;
}

.layout_type_03 .form_cont_area .select_area .nice-select {
  height: 3.2rem;
  line-height: 3.2rem;
}

.layout_type_03 .form_cont_area textarea {
  width: calc(100% - 2rem);
  padding: 1rem;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid #E8EBF0;
  background-color: #FAFAFA;
  font-size: 1.2rem;
}

.layout_type_03 .form_cont_area textarea::-webkit-input-placeholder {
  color: #8B95A1;
}

.layout_type_03 .form_cont_area textarea:-ms-input-placeholder {
  color: #8B95A1;
}

.layout_type_03 .form_cont_area textarea::-ms-input-placeholder {
  color: #8B95A1;
}

.layout_type_03 .form_cont_area textarea::placeholder {
  color: #8B95A1;
}

.layout_type_03 .form_cont_area input {
  font-size: 1.2rem;
}

.layout_type_03 .form_cont_area input::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.layout_type_03 .form_cont_area input:-ms-input-placeholder {
  font-size: 1.2rem;
}

.layout_type_03 .form_cont_area input::-ms-input-placeholder {
  font-size: 1.2rem;
}

.layout_type_03 .form_cont_area input::placeholder {
  font-size: 1.2rem;
}

.layout_type_03 .form_cont_area .btn_area {
  margin-top: 2rem;
  text-align: right;
}

.layout_type_03 .form_cont_area .btn_area .btn {
  margin-left: 1rem;
  width: 9.2rem;
}

.customer_cont_wrap .left_box {
  position: relative;
  width: calc(60% - 0.5rem);
}

.customer_cont_wrap .left_box .right_msg {
  color: #426DC1;
  font-size: 1.2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.customer_cont_wrap .table_height_cont {
  height: 96.7rem;
}

.customer_cont_wrap .table_height_cont .date_table_type {
  overflow-y: hidden;
  overflow: hidden;
}

.half_cont_type {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.half_cont_type::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .cont_box {
  float: left;
  width: calc(50% - 5rem);
}

.half_cont_type .cont_box + .cont_box {
  float: right;
}

.half_cont_type .form_cont_area input {
  font-weight: 700;
}

.half_cont_type .form_cont_area input::-webkit-input-placeholder {
  font-weight: 400;
}

.half_cont_type .form_cont_area input:-ms-input-placeholder {
  font-weight: 400;
}

.half_cont_type .form_cont_area input::-ms-input-placeholder {
  font-weight: 400;
}

.half_cont_type .form_cont_area input::placeholder {
  font-weight: 400;
}

.half_cont_type .form_cont_area .name_box {
  border-radius: 0.5rem;
  width: 100%;
  background-color: #F5F5F5;
  border: 1px solid #E8EBF0;
  height: 3.6rem;
  line-height: 3.6rem;
  text-indent: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 700;
  color: #8B95A1;
}

.half_cont_type .form_cont_area .float_box {
  margin-bottom: 1rem;
}

.half_cont_type .form_cont_area .float_box::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .form_cont_area .float_box.pt {
  padding-top: 1.4rem;
}

.half_cont_type .form_cont_area .float_box .left_area {
  width: 49%;
  float: left;
  margin-left: 0%;
}

.half_cont_type .form_cont_area .float_box .left_area.pd {
  padding-bottom: 1.4rem;
}

.half_cont_type .form_cont_area .float_box .left_area.mt20 {
  margin-top: 2rem;
}

.half_cont_type .form_cont_area .float_box .left_area .name_input {
  font-weight: 700;
}

.half_cont_type .form_cont_area .float_box .left_area .nic_input {
  margin-right: 1rem;
  width: calc(100% - 10.5rem);
}

.half_cont_type .form_cont_area .float_box .left_area dl {
  padding: 0;
}

.half_cont_type .form_cont_area .float_box .left_area dl dt {
  width: 20%;
}

.half_cont_type .form_cont_area .float_box .left_area dl dt.w15 {
  width: 15%;
  margin-left: 10%;
}

.half_cont_type .form_cont_area .float_box .left_area dl dd {
  width: calc(100% - 20%);
  position: relative;
}

.half_cont_type .form_cont_area .float_box .left_area dl dd .hover_box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(28rem - 3.2rem);
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
  line-height: 1.8;
  word-break: break-all;
  background-color: #333D4B;
  color: #fff;
  border-radius: 0.5rem;
}

.half_cont_type .form_cont_area .float_box .left_area dl dd .hover_box.show {
  display: block;
}

.half_cont_type .form_cont_area .float_box .left_area dl dd .hover_box::after {
  content: '';
  display: block;
  width: 2.2rem;
  height: 0.9rem;
  position: absolute;
  top: -0.08rem;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  background: url(../images/icon/speech_icon.svg) top center no-repeat;
}

.half_cont_type .form_cont_area .float_box .left_area + .left_area {
  margin-left: 2%;
  float: right;
}

.half_cont_type .form_cont_area .float_box .left_area + .left_area dl {
  margin-top: 1rem;
}

.half_cont_type .form_cont_area .float_box .left_area + .left_area dl.mt {
  margin-top: 2rem;
}

.half_cont_type .form_cont_area dl {
  padding-top: 1rem;
}

.half_cont_type .form_cont_area dl::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .form_cont_area dl dt {
  float: left;
  width: 10%;
  font-size: 1.2rem;
  font-weight: 700;
}

.half_cont_type .form_cont_area dl dd {
  float: right;
  width: calc(100% - 10%);
}

.half_cont_type .form_cont_area dl:last-of-type {
  padding-bottom: 0rem;
}

.half_cont_type .form_cont_area .line_box {
  margin-top: 3rem;
  padding: 1.5rem 0;
  border-top: 1px solid #E8EBF0;
}

.half_cont_type .form_cont_area .line_box dl dt {
  width: 12%;
}

.half_cont_type .form_cont_area .line_box dl dd {
  width: calc(100% - 12%);
}

.half_cont_type .form_cont_area .radio_area::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .form_cont_area .radio_area .radio_cont {
  float: left;
  margin-right: 1rem;
}

.half_cont_type .form_cont_area .select_area::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .form_cont_area .select_area .select_box {
  float: left;
  width: 13rem;
  border-radius: 5px;
  border: 1px solid #E8EBF0;
  margin-right: 1rem;
}

.half_cont_type .form_cont_area .select_area .select_box.width100 {
  width: 93%;
}

.half_cont_type .form_cont_area .select_area .select_box.width {
  width: 19rem;
}

.half_cont_type .form_cont_area .select_area .select_box.width .current {
  display: inline-block;
  padding-left: 2.5rem;
  background: url(../images/icon/calendar.svg) center left no-repeat;
}

.half_cont_type .form_cont_area .select_area .nice-select {
  height: 3.2rem;
  line-height: 3.2rem;
}

.half_cont_type .form_cont_area textarea {
  width: calc(100% - 2rem);
  padding: 1rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #E8EBF0;
  background-color: #FAFAFA;
  font-size: 1.2rem;
}

.half_cont_type .form_cont_area textarea::-webkit-input-placeholder {
  color: #8B95A1;
}

.half_cont_type .form_cont_area textarea:-ms-input-placeholder {
  color: #8B95A1;
}

.half_cont_type .form_cont_area textarea::-ms-input-placeholder {
  color: #8B95A1;
}

.half_cont_type .form_cont_area textarea::placeholder {
  color: #8B95A1;
}

.half_cont_type .form_cont_area input {
  font-size: 1.2rem;
}

.half_cont_type .form_cont_area input::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.half_cont_type .form_cont_area input:-ms-input-placeholder {
  font-size: 1.2rem;
}

.half_cont_type .form_cont_area input::-ms-input-placeholder {
  font-size: 1.2rem;
}

.half_cont_type .form_cont_area input::placeholder {
  font-size: 1.2rem;
}

.half_cont_type .form_cont_area .btn_area {
  margin-top: 2rem;
  text-align: right;
}

.half_cont_type .form_cont_area .btn_area .btn {
  margin-left: 1rem;
  width: 9.2rem;
}

.half_cont_type .form_cont_area .msg {
  font-size: 1rem;
  color: #426DC1;
  padding-top: 0.5rem;
}

.half_cont_type .form_cont_area .three_select_area .select_area .select_box {
  width: 28%;
}

.half_cont_type .form_cont_area .input_btn input {
  width: 39%;
}

.half_cont_type .form_cont_area .input_btn input:disabled {
  background-color: #F4F5F7;
}

.half_cont_type .form_cont_area .input_btn button {
  margin: 0 1rem;
}

.half_cont_type .form_cont_area .input_btn .refresh_btn {
  margin-left: 0;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #E8EBF0;
  vertical-align: -12px;
  background: url(../images/icon/refresh.svg) center no-repeat;
}

.half_cont_type .input_cont_area::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .input_cont_area dl {
  float: right;
  width: 50%;
}

.half_cont_type .input_cont_area dl::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .input_cont_area dl dt {
  width: 20%;
  float: left;
  font-size: 1.4rem;
  color: #5F6E81;
  margin-top: 1rem;
}

.half_cont_type .input_cont_area dl dd input {
  max-width: 22.4rem;
  margin-right: 1rem;
}

.half_cont_type .input_cont_area .radio_area {
  float: left;
  margin-top: 1rem;
}

.half_cont_type .input_cont_area .radio_area::after {
  display: block;
  content: '';
  clear: both;
}

.half_cont_type .input_cont_area .radio_area .radio_cont {
  float: left;
  margin-right: 2rem;
}

.half_cont_type .table_list_cont .table_box_area {
  margin-top: 2rem;
}

.half_cont_type .table_list_cont .table_box_area .area {
  height: 69rem;
  overflow-y: scroll;
}

.half_cont_type .table_list_cont .table_box_area .area table th:first-of-type {
  padding: 0.8rem;
}

.half_cont_type .table_list_cont .table_box_area .area table td:first-of-type {
  padding: 0.8rem;
}

.finace_tit_area::after {
  display: block;
  content: '';
  clear: both;
}

.finace_tit_area .page_tit_area {
  width: 50%;
}

.finace_tit_area .right_lookup_cont {
  margin-bottom: 2rem;
}

.finace_tit_area .right_lookup_cont::after {
  display: block;
  content: '';
  clear: both;
}

.finace_tit_area .right_lookup_cont .select_box {
  width: 13rem;
  border: 1px solid #E8EBF0;
  background-color: #fff;
  border-radius: 5px;
}

.finace_tit_area .right_lookup_cont .left_select_area {
  float: left;
}

.finace_tit_area .right_lookup_cont .left_select_area::after {
  display: block;
  content: '';
  clear: both;
}

.finace_tit_area .right_lookup_cont .left_select_area .select_box {
  float: left;
  margin-right: 1rem;
}

.finace_tit_area .right_lookup_cont .month_select_area {
  float: right;
}

.finace_tit_area .right_lookup_cont .month_select_area::after {
  display: block;
  content: '';
  clear: both;
}

.finace_tit_area .right_lookup_cont .month_select_area .sec_tit {
  font-size: 1.4rem;
  color: #5F6E81;
  font-weight: 400;
  float: left;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 3rem;
  position: relative;
}

.finace_tit_area .right_lookup_cont .month_select_area .select_box {
  float: left;
  background: url(../images/icon/calendar.svg) top 1rem left 1rem no-repeat #fff;
}

.finace_tit_area .right_lookup_cont .month_select_area .select_box .selected-type {
  text-indent: 2.8rem;
}

.finace_tit_area .right_lookup_cont .month_select_area .base_btn {
  float: left;
  margin-left: 1rem;
}

.finance_top_cont .status_cont_box {
  margin: 2rem 0;
}

.finance_top_cont .status_cont_box::after {
  display: block;
  content: '';
  clear: both;
}

.finance_top_cont .status_cont_box .box {
  background-color: #426DC1;
  border-radius: 10px;
  float: left;
  width: calc(23.5% - 4rem);
  padding: 2rem;
  margin-right: 2%;
}

.finance_top_cont .status_cont_box .box:last-of-type {
  margin-right: 0;
}

.finance_top_cont .status_cont_box .box.red_box {
  background-color: #F9737A;
}

.finance_top_cont .status_cont_box p {
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
}

.finance_top_cont .status_cont_box .right_txt {
  text-align: right;
  font-size: 2rem;
  padding-top: 0.5rem;
}

.finance_top_cont .status_cont_box .right_txt span {
  font-size: 4rem;
}

.finance_top_cont .status_cont_box dl {
  text-align: right;
  padding-top: 1rem;
}

.finance_top_cont .status_cont_box dl dt {
  display: inline-block;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
}

.finance_top_cont .status_cont_box dl dd {
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
}

.finance_top_cont .status_cont_box dl dd.icon {
  margin-left: 0.5rem;
  vertical-align: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url(../images/icon/down.svg) center no-repeat rgba(255, 255, 255, 0.1);
}

.finance_top_cont .status_cont_box dl dd.icon.up {
  background: url(../images/icon/up.svg) center no-repeat rgba(255, 255, 255, 0.1);
}

.graph_cont_wrap .graph_area {
  margin-bottom: 2rem;
}

.graph_cont_wrap .graph_area::after {
  display: block;
  content: '';
  clear: both;
}

.graph_cont_wrap .graph_area.type .half_cont_box {
  float: left;
  width: calc(50% - 1rem);
  margin-right: 2rem;
}

.graph_cont_wrap .graph_area.type .cont_box {
  height: 36rem;
}

.graph_cont_wrap .cont_box {
  float: left;
  width: calc(50% - 5rem);
  position: relative;
  height: 46rem;
}

.graph_cont_wrap .cont_box::after {
  display: block;
  content: '';
  clear: both;
}

.graph_cont_wrap .cont_box .dot_txt {
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-right: 1.5rem;
}

.graph_cont_wrap .cont_box .dot_txt::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #F9737A;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.graph_cont_wrap .cont_box .dot_txt.blue1::after {
  background-color: #426DC1;
}

.graph_cont_wrap .cont_box .dot_txt.blue2::after {
  background-color: #5683DB;
}

.graph_cont_wrap .cont_box .dot_txt.blue3::after {
  background-color: #97BAFD;
}

.graph_cont_wrap .cont_box .dot_txt.blue4::after {
  background-color: #CFDEFC;
}

.graph_cont_wrap .cont_box .dot_txt.red1::after {
  background-color: #F9737A;
}

.graph_cont_wrap .cont_box .dot_txt.red2::after {
  background-color: #FF9DA2;
}

.graph_cont_wrap .cont_box .dot_txt.red3::after {
  background-color: #FFB9BC;
}

.graph_cont_wrap .cont_box .dot_txt.red4::after {
  background-color: #FFD9DB;
}

.graph_cont_wrap .half_cont_box {
  float: right;
  width: calc(50% - 1rem);
}

.graph_cont_wrap .half_cont_box .cont_box {
  float: left;
  position: relative;
  background-color: #fff;
}

.graph_cont_wrap .half_cont_box .cont_box + .cont_box {
  float: right;
}

.graph_cont_wrap .box1_desc {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.graph_cont_wrap .box1_desc .numb {
  font-size: 1.4rem;
  color: #8B95A1;
  display: inline-block;
  position: relative;
  margin-left: 4rem;
}

.graph_cont_wrap .box1_desc .numb::after {
  position: absolute;
  top: 50%;
  left: -2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  display: block;
  width: 1px;
  height: 1.2rem;
  background-color: #E8EBF0;
}

.graph_cont_wrap .box2_desc {
  text-align: center;
}

.graph_cont_wrap .graph_type_01 {
  width: 100%;
  height: 40rem;
  margin-top: 5rem;
}

.graph_cont_wrap .graph_type_02 {
  width: 28rem;
  margin: 8rem auto;
  position: relative;
}

.graph_cont_wrap .graph_type_02 .txt_box {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.graph_cont_wrap .graph_type_02 .txt_box .num {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.graph_cont_wrap .graph_type_03 {
  margin-top: 5rem;
}

.graph_cont_wrap .graph_type_04 {
  width: 95%;
  margin: 7rem auto 2rem;
}

.graph_cont_wrap .radio_area {
  position: absolute;
  top: 2.2rem;
  right: 2rem;
}

.graph_cont_wrap .radio_area::after {
  display: block;
  content: '';
  clear: both;
}

.graph_cont_wrap .radio_area .radio_cont {
  float: left;
  margin-right: 1rem;
}

.line_graph_cont .line_graph_list {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line_graph_cont .line_graph_list li .img {
  width: 14.7rem;
  height: 4rem;
  margin-bottom: 1.3rem;
}

.line_graph_cont .line_graph_list li dl dt {
  font-size: 1.6rem;
  font-weight: 400;
}

.line_graph_cont .line_graph_list li dl dt span {
  font-size: 3.4rem;
  margin-right: 1rem;
  font-weight: 700;
}

.line_graph_cont .line_graph_list li dl dd {
  font-size: 1.4rem;
  color: #8B95A1;
  font-weight: 700;
  margin-top: 1.2rem;
}

.data_table_cont {
  padding-bottom: 2rem;
}

.data_table_cont .cont_box {
  margin-top: 2rem;
}

.data_table_cont .total_table_area table {
  width: 100%;
}

.data_table_cont .total_table_area table th {
  text-align: center;
  padding: 1rem;
}

.data_table_cont .total_table_area table td {
  padding: 1rem 1.5rem;
  text-align: right;
}

.data_table_cont .total_table_area table td:first-of-type {
  background-color: #F4F5F7;
  font-weight: 400;
  color: #445365;
  text-align: center;
}

.data_table_cont .total_table_area table td.tit_box {
  background-color: #F4F5F7;
  font-weight: 400;
  color: #445365;
  text-align: left;
}

.data_table_cont .total_table_area table tr:last-of-type td {
  background-color: #E5E8EC;
}

.data_table_cont .total_table_area table tr:last-of-type td:first-of-type {
  font-weight: 700;
  color: #333D4B;
}

.total_lookup_cont {
  padding: 0rem 0 2rem 0;
  position: relative;
}

.total_lookup_cont::after {
  display: block;
  content: '';
  clear: both;
}

.total_lookup_cont .sec_box {
  float: left;
  margin-right: 2rem;
}

.total_lookup_cont .sec_box::after {
  display: block;
  content: '';
  clear: both;
}

.total_lookup_cont .sec_box .tit_text {
  float: left;
  font-size: 1.4rem;
  color: #5F6E81;
  margin-top: 1rem;
  margin-right: 1rem;
}

.total_lookup_cont .sec_box .right_area {
  float: left;
}

.total_lookup_cont .sec_box:last-of-type {
  margin-right: 0;
}

.total_lookup_cont .sec_box:last-of-type .right_area {
  width: 25rem;
}

.total_lookup_cont .sec_box:last-of-type .right_area input {
  background: url(../images/icon/search_02.svg) center right 1rem no-repeat #fff;
  font-weight: 700;
}

.total_lookup_cont .sec_box:last-of-type .right_area input::-webkit-input-placeholder {
  font-weight: 400;
}

.total_lookup_cont .sec_box:last-of-type .right_area input:-ms-input-placeholder {
  font-weight: 400;
}

.total_lookup_cont .sec_box:last-of-type .right_area input::-ms-input-placeholder {
  font-weight: 400;
}

.total_lookup_cont .sec_box:last-of-type .right_area input::placeholder {
  font-weight: 400;
}

.total_lookup_cont .select_box {
  width: 13rem;
  border: 1px solid #E8EBF0;
  background-color: #fff;
  border-radius: 5px;
}

.total_lookup_cont .three_select_area::after {
  display: block;
  content: '';
  clear: both;
}

.total_lookup_cont .three_select_area .select_box {
  float: left;
  margin-right: 1rem;
}

.total_lookup_cont .month_select_area {
  position: absolute;
  top: 0;
  right: 0;
}

.total_lookup_cont .month_select_area::after {
  display: block;
  content: '';
  clear: both;
}

.total_lookup_cont .month_select_area span {
  display: block;
  float: left;
  margin: 0 0.6rem;
  font-size: 1.4rem;
  color: #5F6E81;
  margin-top: 1rem;
}

.total_lookup_cont .month_select_area .sec_tit {
  font-size: 1.4rem;
  color: #5F6E81;
  font-weight: 400;
  float: left;
  margin-top: 1rem;
  margin-right: 1rem;
  position: relative;
}

.total_lookup_cont .month_select_area .select_box {
  float: left;
  background: url(../images/icon/calendar.svg) top 1rem left 1rem no-repeat #fff;
}

.total_lookup_cont .month_select_area .select_box .selected-type {
  text-indent: 2.8rem;
}

.total_lookup_cont .month_select_area .base_btn {
  float: left;
  margin-left: 1rem;
}

.bond_cont_wrap {
  position: relative;
}

.bond_cont_wrap .sub_tit {
  font-size: 1.6rem;
  color: #8B95A1;
  margin-left: 2rem;
}

.bond_cont_wrap .radio_area {
  position: absolute;
  top: 2.3rem;
  left: 12rem;
}

.bond_cont_wrap .radio_area::after {
  display: block;
  content: '';
  clear: both;
}

.bond_cont_wrap .radio_area .radio_cont {
  float: left;
  margin-right: 1rem;
}

.bond_cont_wrap .seach_cont_area {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.bond_cont_wrap .seach_cont_area::after {
  display: block;
  content: '';
  clear: both;
}

.bond_cont_wrap .seach_cont_area .tit_text {
  float: left;
  font-size: 1.4rem;
  color: #5F6E81;
  margin-top: 1rem;
  margin-right: 1rem;
}

.bond_cont_wrap .seach_cont_area .right_area {
  float: left;
  width: 35rem;
}

.bond_cont_wrap .seach_cont_area .right_area input {
  background: url(../images/icon/search_02.svg) center right 1rem no-repeat #fff;
  font-weight: 700;
}

.bond_cont_wrap .seach_cont_area .right_area input::-webkit-input-placeholder {
  font-weight: 400;
}

.bond_cont_wrap .seach_cont_area .right_area input:-ms-input-placeholder {
  font-weight: 400;
}

.bond_cont_wrap .seach_cont_area .right_area input::-ms-input-placeholder {
  font-weight: 400;
}

.bond_cont_wrap .seach_cont_area .right_area input::placeholder {
  font-weight: 400;
}

.bond_cont_wrap .table_type_01 table {
  width: 100%;
}

.bond_cont_wrap .table_type_01 table th {
  text-align: center;
  padding: 0.8rem;
}

.bond_cont_wrap .table_type_01 table th:nth-of-type(2) {
  text-align: left;
}

.bond_cont_wrap .table_type_01 table td {
  text-align: center;
  padding: 0.8rem;
}

.bond_cont_wrap .table_type_01 table td:nth-of-type(2) {
  text-align: left;
}

.totalInfo_cont_area {
  padding-bottom: 2rem;
  position: relative;
}

.totalInfo_cont_area .sub_tit {
  font-size: 1.6rem;
  color: #8B95A1;
  margin-left: 2rem;
}

.totalInfo_cont_area .seach_cont_area {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.totalInfo_cont_area .seach_cont_area::after {
  display: block;
  content: '';
  clear: both;
}

.totalInfo_cont_area .seach_cont_area .tit_text {
  float: left;
  font-size: 1.4rem;
  color: #5F6E81;
  margin-top: 1rem;
  margin-right: 1rem;
}

.totalInfo_cont_area .seach_cont_area .right_area {
  float: left;
  width: 29rem;
}

.totalInfo_cont_area .seach_cont_area .right_area input {
  background: url(../images/icon/search_02.svg) center right 1rem no-repeat #fff;
  font-weight: 700;
}

.totalInfo_cont_area .seach_cont_area .right_area input::-webkit-input-placeholder {
  font-weight: 400;
}

.totalInfo_cont_area .seach_cont_area .right_area input:-ms-input-placeholder {
  font-weight: 400;
}

.totalInfo_cont_area .seach_cont_area .right_area input::-ms-input-placeholder {
  font-weight: 400;
}

.totalInfo_cont_area .seach_cont_area .right_area input::placeholder {
  font-weight: 400;
}

.totalInfo_cont_area .scroll_table_type table {
  width: 100%;
}

.totalInfo_cont_area .scroll_table_type table th {
  text-align: center;
  padding: 0.8rem;
}

.totalInfo_cont_area .scroll_table_type table th:nth-of-type(2) {
  text-align: left;
}

.totalInfo_cont_area .scroll_table_type table td {
  text-align: center;
  padding: 0.8rem;
}

.totalInfo_cont_area .scroll_table_type table td:nth-of-type(2) {
  text-align: left;
}

.totalInfo_cont_area .table_type_01 table {
  width: 100%;
}

.totalInfo_cont_area .table_type_01 table th {
  text-align: center;
  padding: 0.8rem;
}

.totalInfo_cont_area .table_type_01 table td {
  text-align: center;
  padding: 0.8rem;
}

.totalInfo_cont_area .table_type_01 table td:nth-of-type(3) {
  text-align: left;
}

.totalInfo_cont_area .input_cont_area {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
}

.totalInfo_cont_area .input_cont_area::after {
  display: block;
  content: '';
  clear: both;
}

.totalInfo_cont_area .input_cont_area .input_box {
  float: left;
  margin-left: 2rem;
}

.totalInfo_cont_area .input_cont_area .input_box span {
  font-size: 1.4rem;
  color: #5F6E81;
  margin-right: 1rem;
}

.totalInfo_cont_area .input_cont_area .input_box input[type="text"] {
  width: 12rem;
}

.totalInfo_cont_area .input_cont_area .input_box input[type="text"]:disabled {
  background: #F4F5F7;
  color: #8B95A1;
}

.info_main_wrap .info_cont_area {
  margin: 2rem 0 2rem;
}

.info_main_wrap .cont_box {
  position: relative;
  padding: 1.5rem;
}

.info_main_wrap .cont_box::after {
  display: block;
  content: '';
  clear: both;
}

.info_main_wrap .cont_box .info_box {
  float: left;
}

.info_main_wrap .cont_box .info_box::after {
  display: block;
  content: '';
  clear: both;
}

.info_main_wrap .cont_box .info_box .img_area {
  float: left;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  position: relative;
}

.info_main_wrap .cont_box .info_box dl {
  float: left;
  margin-left: 2rem;
  padding: 2rem 4rem 2rem 0rem;
  border-right: 1px solid #E8EBF0;
}

.info_main_wrap .cont_box .info_box dl dt {
  font-size: 2rem;
  color: #333D4B;
  font-weight: 700;
  margin-bottom: 8px;
}

.info_main_wrap .cont_box .info_box dl dd {
  color: #8B95A1;
  font-size: 1.6rem;
}

.info_main_wrap .cont_box .radio_cont_area {
  float: left;
  margin-top: 3rem;
}

.info_main_wrap .cont_box .radio_cont_area .radio_area {
  padding: 2rem 4rem;
}

.info_main_wrap .cont_box .radio_cont_area .radio_area::after {
  display: block;
  content: '';
  clear: both;
}

.info_main_wrap .cont_box .radio_cont_area .radio_area .radio_cont {
  float: left;
  margin-right: 2rem;
}

.info_main_wrap .cont_box .radio_cont_area .radio_area .radio_cont input[type="radio"] + label {
  font-size: 1.4rem;
  font-weight: 700;
}

.mypage_list_cont .list_tit {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.mypage_list_cont .list_item_area::after {
  display: block;
  content: '';
  clear: both;
}

.mypage_list_cont .list_item_area .cont_box {
  float: left;
  margin-right: 1.5%;
  padding: 0;
  width: 15.416666%;
}

.mypage_list_cont .list_item_area .cont_box:last-of-type {
  margin-right: 0;
}

.mypage_list_cont .list_item_area .cont_box .item {
  padding: 2rem;
  text-align: center;
}

.mypage_list_cont .list_item_area .cont_box .item .icon {
  margin: auto;
  width: 5.4rem;
  height: 5.4rem;
  background: url(../images/icon/list_icon_02.svg) center no-repeat;
  border-radius: 50%;
}

.mypage_list_cont .list_item_area .cont_box .item .icon.icon2 {
  background: url(../images/icon/list_icon_01.svg) center no-repeat #7CC7B3;
  background-size: contain;
}

.mypage_list_cont .list_item_area .cont_box .item .icon.icon3 {
  background: url(../images/icon/list_icon_03.svg) center no-repeat;
  background-size: contain;
}

.mypage_list_cont .list_item_area .cont_box .item .icon.icon4 {
  background: url(../images/icon/list_icon_04.svg) center no-repeat;
  background-size: contain;
}

.mypage_list_cont .list_item_area .cont_box .item .num_txt {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 1.3rem;
  text-align: center;
}

.mypage_list_cont .list_item_area .cont_box .item a {
  font-size: 2rem;
  color: #8B95A1;
  font-weight: 700;
  margin-top: 1.2rem;
  display: inline-block;
  padding-right: 3.5rem;
  background: url(../images/icon/chevron_left.svg) center right no-repeat;
  background-size: contain;
}

.mypage_list_cont .day_item_area::after {
  display: block;
  content: '';
  clear: both;
}

.mypage_list_cont .day_item_area .cont_box {
  float: left;
  margin-right: 1.5%;
  padding: 0;
  width: 32.33333%;
  margin-bottom: 1.5%;
}

.mypage_list_cont .day_item_area .cont_box:nth-of-type(3n) {
  margin-right: 0;
}

.mypage_list_cont .day_item_area .cont_box .item {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mypage_list_cont .day_item_area .cont_box .item .icon {
  width: 5.2rem;
  height: 5.2rem;
  margin-right: 4rem;
  background: url(../images/icon/day_icon_01.svg) center no-repeat;
}

.mypage_list_cont .day_item_area .cont_box .item .icon.icon2 {
  background: url(../images/icon/day_icon_02.svg) center no-repeat;
  background-size: contain;
}

.mypage_list_cont .day_item_area .cont_box .item .icon.icon3 {
  background: url(../images/icon/day_icon_03.svg) center no-repeat;
  background-size: contain;
}

.mypage_list_cont .day_item_area .cont_box .item .icon.icon4 {
  background: url(../images/icon/day_icon_04.svg) center no-repeat;
  background-size: contain;
}

.mypage_list_cont .day_item_area .cont_box .item .desc_box .num_txt {
  font-size: 4.8rem;
  font-weight: 700;
}

.mypage_list_cont .day_item_area .cont_box .item .desc_box .num_txt .small {
  font-size: 1.2rem;
  color: #333D4B;
  font-weight: 400;
  margin-left: 1.5rem;
}

.mypage_list_cont .day_item_area .cont_box .item .desc_box .num_txt i {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon/list_up.svg) center no-repeat;
  vertical-align: 1rem;
  margin-right: 1rem;
}

.mypage_list_cont .day_item_area .cont_box .item .desc_box .num_txt i.down {
  background: url(../images/icon/list_down.svg) center no-repeat;
}

.mypage_list_cont .day_item_area .cont_box .item .desc_box a {
  font-size: 1.6rem;
  color: #8B95A1;
  font-weight: 700;
  margin-top: 1.2rem;
  display: inline-block;
  padding-right: 3rem;
  background: url(../images/icon/chevron_left.svg) center right no-repeat;
  background-size: contain;
}

.setting_half_cont .cont_box {
  float: left;
  width: calc(50% - 5rem);
}

.setting_half_cont .cont_box table .center_txt {
  text-align: center;
}

.setting_half_cont .cont_box .radio_cont {
  position: relative;
}

.setting_half_cont .cont_box input[type="radio"] + label {
  position: static;
  width: 1.6rem;
  padding-left: 0px;
  font-size: 1.2rem;
  color: #757575;
  /* text color*/
}

.setting_half_cont .cont_box input[type="radio"] + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/icon/radio_off_02.svg) center no-repeat;
  background-size: contain;
}

.setting_half_cont .cont_box input[type="radio"]:checked + label {
  font-weight: 700;
}

.setting_half_cont .cont_box input[type="radio"]:checked + label:after {
  background: url(../images/icon/radio_on_02.svg) center no-repeat;
  background-size: contain;
}

.setting_half_cont .cont_box + .cont_box {
  float: right;
}

.icon_btn_area {
  text-align: left;
}

.icon_btn_area::after {
  display: block;
  content: '';
  clear: both;
}

.icon_btn_area .icon_item_area {
  float: left;
}

.icon_btn_area .icon_item_area button {
  width: 36px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #D1D6DA;
  border-radius: 5px;
  text-indent: -9999px;
  background: url(../images/icon/icon_up.svg) center no-repeat;
}

.icon_btn_area .icon_item_area button:nth-of-type(2) {
  background: url(../images/icon/icon_down.svg) center no-repeat;
}

.icon_btn_area .icon_item_area button:nth-of-type(3) {
  background: url(../images/icon/icon_top.svg) center no-repeat;
}

.icon_btn_area .icon_item_area button:nth-of-type(4) {
  background: url(../images/icon/icon_bottom.svg) center no-repeat;
}

.icon_btn_area .line_btn {
  padding: 0.9rem 3rem;
}

.last_btn_area {
  text-align: right;
  padding: 2rem 0;
}

.last_btn_area .reset_btn {
  padding: 0.9rem 2.3rem;
  color: #012A50;
  background-color: #E8EBF0;
  border: 1px solid #D1D6DA;
  margin-right: 10px;
}

.favor_box_area table td {
  padding: 1.3rem !important;
}
