.leftMenu_wrap {
  width: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 3px 30px rgba(0, 45, 98, 0.11);
          box-shadow: 0 3px 30px rgba(0, 45, 98, 0.11);
}

.leftMenu_wrap .inner {
  padding: 2.6rem 1rem;
}

.nav_cont_list > li > a {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #333D4B;
  padding: 1.3rem 2rem;
  border-radius: 5px;
  background: url(../images/icon/drop_arrow_off.svg) center right 2rem no-repeat;
}

.nav_cont_list > li > a i {
  margin-right: 2rem;
  vertical-align: -2px;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/icon/nav_01.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.active {
  background: url(../images/icon/drop_arrow_on.svg) center right 2rem no-repeat rgba(66, 109, 193, 0.07);
  color: #426DC1;
}

.nav_cont_list > li > a.active i {
  background: url(../images/icon/nav_01_on.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_02 i {
  background: url(../images/icon/nav_02.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_02.active i {
  background: url(../images/icon/nav_02_on.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_03 i {
  background: url(../images/icon/nav_03.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_03.active i {
  background: url(../images/icon/nav_03_on.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_04 i {
  background: url(../images/icon/nav_04.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_04.active i {
  background: url(../images/icon/nav_04_on.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_05 i {
  background: url(../images/icon/nav_05.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_05.active i {
  background: url(../images/icon/nav_05_on.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_06 i {
  background: url(../images/icon/nav_06.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_06.active i {
  background: url(../images/icon/nav_06_on.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_07 i {
  background: url(../images/icon/nav_07.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list > li > a.nav_07.active i {
  background: url(../images/icon/nav_07_on.svg) center no-repeat;
  background-size: contain;
}

.nav_cont_list .dep_menu {
  display: none;
}

.nav_cont_list .dep_menu.show {
  display: block;
}

.nav_cont_list .dep_menu p {
  padding: 0.8rem 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #8B95A1;
  border-radius: 5px;
  background: rgba(66, 109, 193, 0.07);
}

.nav_cont_list .dep_menu > ul {
  margin-left: 3rem;
  margin: 1.8rem 0 1.8rem 2rem;
  border-left: 1px solid #E8EBF0;
}

.nav_cont_list .dep_menu > ul li {
  padding-left: 1.6rem;
  margin-bottom: 1.8rem;
}

.nav_cont_list .dep_menu > ul li a {
  font-size: 1.4rem;
  color: #8B95A1;
}

.nav_cont_list .dep_menu > ul li a.on {
  color: #426DC1;
  font-weight: 700;
}
