.modal_cont_wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal_cont_wrap .modal_area {
  width: 60rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.modal_cont_wrap .table_cont_area .close_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon/close.svg) center no-repeat;
  background-size: contain;
  z-index: 1000;
}

.modal_cont_wrap .table_cont_area .table_box_area .area {
  height: 300px;
}

.modal_cont_wrap .table_cont_area .table_box_area .area table th {
  padding: 1rem;
}

.modal_cont_wrap .table_cont_area .table_box_area .area table td {
  padding: 1rem;
}

.modal_cont_wrap .table_cont_area .one_type_area .area {
  height: auto;
  overflow: visible;
  width: 100%;
  padding-right: 0;
}

.modal_cont_wrap .table_cont_area .one_type_area .area table td {
  padding: 0.5rem;
}

.modal_cont_wrap .table_cont_area .one_type_area .area .btn_area {
  text-align: center;
  padding-top: 2rem;
}

.modal_cont_wrap .table_cont_area .one_type_area .area .btn_area button {
  margin: 0 0.5rem;
}
