@import 'layout-prefix.scss';

.header_inner  {
    background-color: $main-color;
    padding:2rem;
    &::after{
        @include clear-both;
    }
    h1{ 
        float:left;
        a{
            color:#fff;
            font-size:2.4rem;
            font-family: 'Montserrat', 'Noto Sans KR',sans-serif;
            font-weight: 700;
        }
    }
    .right_cont_area {
        float:right;
        &::after{
            @include clear-both;
        }
        .page_link_list {
            float:left;
            margin-right:6rem;
            margin-top:8px;
            li{
                display: inline-block;
                &::after{
                    vertical-align: 3px;
                    content:'';
                    display:inline-block;
                    width:4px;
                    height:4px;
                    border-radius: 50%;
                    background-color: #D1D6DA;
                    margin:0 20px;
                }
                &:last-of-type {
                    &::after{
                        display: none;
                    }
                }
                a{
                    color:#fff;
                    font-size:1.6rem;
                    display:  inline-block;
                }
            }
        }
        .user_info_area {
            float:left;
            display: flex;
            align-items: center;
            position: relative;
            &::after{
                @include clear-both;
            }
            .img_box{
                margin-right:10px;
                @include square(3.6rem);
                border-radius: 50%;
            }
            dl{
                dt{
                    font-size:1.6rem;
                    color:#fff;
                    font-weight: 700;
                    margin-bottom:3px;
                }
                dd{
                    font-size:1rem;
                    color:#8B95A1;
                    font-weight: 700;
                    margin-top:0.4rem;
                }
            }
            .dropIcon {
                display: block;
                @include square(16px);
                background: url(../images/icon/drop_arrow.svg) center no-repeat;
                margin-left:10px;
                &.active{
                    transform: rotate(-180deg);
                }
            }
            .dropdown_cont_area {
                display: none;
                position: absolute;
                top:4.5rem;
                left:0;
                z-index: 10;
                background:#fff;
                width:100%;
                border-radius: 1rem;
                box-shadow:0px 3px 3rem rgba(0,45,98,0.11);
                &.show{
                    display: block;
                }
                .info_box {
                    display: flex;
                    padding:1.2rem;
                    border-bottom:1px solid #E8EBF0;
                    dl{
                        dt{
                            color:#333D4B;
                        }
                    }
                }
                .logout_area {
                    padding:1.2rem 1.4rem;
                    a{
                        display: inline-block;
                        font-size:1.4rem;
                        font-weight: 700;
                        padding-left: 3rem;
                        background: url(../images/icon/logout.svg) left center no-repeat;
                    }
                }
            }
        }
    }
    
}

/* +++ 12/16 추가 time 영역 +++ */
.header_inner{
    .logo{ 
        float:left;
        position: relative;
        a{
            color:#fff;
            font-size:2.4rem;
            font-family: 'Montserrat', 'Noto Sans KR',sans-serif;
            font-weight: 700;
        }
        .time_area{
            display:flex;
            align-items: center;
            position: absolute;
            top:2.8rem;
            left:0;
            .time{
                font-size:1.2rem;
                color:#E8F1FF;
                font-weight: 700;
                display: inline-flex;
                align-items: center;
                i{
                    display: inline-block;
                    @include square(18px);
                    background: url(../images/icon/time.svg) center no-repeat;
                    background-size: cover;
                    margin-right:0.2rem;
                }
            }
            .time_msg{
                margin-left:0.9rem;
                display: inline-block;
                font-size:1rem;
                padding:0.3rem;
                border-radius:0.4rem;
                color:#FFFFFF;
                background-color:#426DC1;
            }
        }
    }
}