@import 'layout-prefix.scss';

.pageCont_wrap {
    // position: absolute;
    // top:0;
    // left:250px;
    margin-left:25rem;
    width:calc(100% - 25rem);
    min-height:calc(100vh - 8.5rem);
    // overflow: hidden;
    .inner {
        padding:4rem 4rem 0rem 4rem;
    }
}

.page_tit_area {
    position: relative;
    margin-bottom:2rem;
    p{
        display: inline-block;
        font-size:2.4rem;
        font-weight: 700;
        margin-right:5px;
    }
    button {
        margin:0 5px;
        vertical-align: -7px;
        border-radius: 5px;
        @include square(3rem);
        border:1px solid #E8EBF0;
        background: url(../images/icon/star.svg) center no-repeat #fff;
        &.mark_btn {
            &.active{
                background: url(../images/icon/star_on.svg) center no-repeat #fff;
            }
        }
        &.msg_icon {
            background: url(../images/icon/msg.svg) center no-repeat #fff;
            &.active{
                background: url(../images/icon/msg_on.svg) center no-repeat #fff;
            }
        }
    }
    .select_cont_area {
        position: absolute;
        top:0;
        right:0;
        .select_tit {
            font-size:1.4rem;
            float: left;
            margin-top:1rem;
            margin-right:1rem;
            color:#8B95A1;
        }
        .select_box {
            float:left;
            width:17rem;
            border:1px solid #E8EBF0;
            background-color: #fff;
            border-radius: 5px;
        }
    }
}


.page_msg_area {
    margin-bottom:2rem;
    background-color: #EFF1F5;
    border-radius: 1rem;
    font-size:1.2rem;
    padding:2rem;
    color:#445365;
    line-height: 1.8;
    display: none;
}

/* 마이페이지 전체 컨텐츠 영역 */
.table_cont_area {
    &::after{
        @include clear-both;
    }
    .left_area {
        float:left;
        width:40%;
        height:calc(100vh - 23.3rem);
    }
    .right_area {
        float:right;
        width:calc(60% - 6rem); // lef_area 556 + 60  
        .cont_box {
            height: calc(50vh - 14.8rem);
        }
        .cont_box + .cont_box {
            margin-top:2rem;
        }
    }

    .lookup_cont_area {
        padding:0px 0 2rem;
        &::after{
            @include clear-both;
        }
        .select_box {
            float:left;
            width:13rem;
            border-radius: 5px;
            border:1px solid #E8EBF0;
        }
        .input_box {
            float:right;
            width:calc(100% - 14rem);
            input{
                float: left;
                width: calc(100% - 7rem);
            }
            button{
                float: right;
            }
        }
    }

    .table_box_area {
        .area {
            width:calc(100% - 1rem);
            padding-right:1rem;
            overflow-y: scroll;
            height:calc(100vh - 38.4rem);
            &.halfHeight {
                height:calc(50vh - 19rem);
            }
            table{
                width:100%;
                &.blue_type {
                    .nice-select {
                        height:2rem;
                        line-height: 2rem;
                    }
                }
                th{
                    text-align: center;
                }
                td{
                    text-align: center;
                }
            }
        }
    }
    .btn_cont_area {
        margin-top:2rem;
        text-align: right;
        button{
            margin-left:1rem;
        }
    }

    .posi_right_area {
        position: absolute;
        top:1rem;
        right:2rem;
        &::after{
            @include clear-both;
        }
        .input_cont_area {
            float: left;
            position: relative;
            &::after{
                content: '';
                display: block;
                width:1px;
                height:1.6rem;
                background: #D1D6DA;
                position: absolute;
                top:50%;
                right:-1.5rem;
                transform: translateY(-50%);
            }
            span{
                font-size:1.4rem;
                color:#5F6E81;
                margin-right:1rem;
            }
            input{
                width: 12rem;
                border:1px solid #F4F5F7;
                margin: 0 0.5rem;
                &.long{
                    width:17rem;
                }
                &:disabled {
                    color:#8B95A1;
                    font-weight: 700;
                    background:#F4F5F7;
                }
            }
            &.cu_input_cont {
                input {
                    width:25rem;
                }
            }
        }
        .one_cont_area {
            float: left;
            margin-left:3rem;
            .icon{
                @include square(3.6rem);
                box-sizing: border-box;
                border:1px solid #D1D6DA;
                border-radius: 5px;
                font-size:0;
                text-indent: -9999px;
                vertical-align: 5px;
                background: url(../images/icon/arrow_down.svg) center no-repeat;
            }
            .icon + .icon {
                background: url(../images/icon/arrow_up.svg) center no-repeat;
                margin:0 0.5rem;
            }
        }
    }
}

/*고객 접촉 전체 영역 */
.layout_type_03 {
    margin-top:2rem;
    &::after{
        @include clear-both;
    }
    .left_box {
        width:calc(45% - 3rem);
        float: left;
        position: relative;
        .arrow_btn_area{
            position: absolute;
            top:1rem;
            right:2rem;
            .icon{
                @include square(3.6rem);
                box-sizing: border-box;
                border:1px solid #D1D6DA;
                border-radius: 5px;
                font-size:0;
                text-indent: -9999px;
                vertical-align: 5px;
                background: url(../images/icon/arrow_left.svg) center no-repeat;
            }
            .icon + .icon {
                background: url(../images/icon/arrow_right.svg) center no-repeat;
                margin:0 0.5rem;
            }
        }
    }
    // 고객 기본정보 영역 
    .center_box {
        float: left;
        margin-left:1.5rem;
        width:calc(15% - 3rem);
        position: relative;
        .search_btn {
            position: absolute;
            top:1rem;
            right:2rem;
            box-sizing: border-box;
            padding:1rem 1.2rem;
            font-size:1.4rem;
            color:#333D4B;
            font-weight: 700;
            border-radius: 5px;
            border:1px solid #E8EBF0;
            i{
                margin-right: 5px;
                @include square(1.6rem);
                display: inline-block;
                vertical-align: middle;
                background: url(../images/icon/search.svg) center no-repeat;
            }
        }

    }
    .right_box {
        float:right;
        width:calc(40% - 5rem);
    }
}

// 접촉일정_달력 영역 
.calendar_cont_area {
    table {
        width:100%;
        tr:nth-of-type(even) td {
            background-color: transparent;
        }
        .red{
            color:#C0504D;
        }
        .blue {
            color:#4881BD;
        }
        th {
            font-size:1.2rem;
            text-align: center;
            color:#8B95A1;
            background-color: #F4F5F7;
            font-weight: 700;
            &:first-of-type {
                padding: 0.8rem;
                color:#C0504D;
            }
            &:last-of-type {
                color:#4881BD;
            }
        }
        td{
            text-align: center;
            position: relative;
            padding:0;
            &:first-of-type {
                padding: 0rem;
            }
            // .layout { 
            //     width:100%;
            //     padding:0.8rem 0;
            //     position: relative;
            //     min-height:16.5rem;
            // } 
            p{
                position: absolute;
                top:10px;
                left:50%;
                transform: translateX(-50%);
                font-size:1.2rem;
                &.op{
                    color:#D1D6DA;
                }
            }
            .bar_line{
                min-height: 15rem;
                display: block;
                width:100%;
                margin-top:3rem;
                // position: absolute;
                // top:40px;
                // left:50%;
                // transform: translateX(-50%);
                > div{
                    padding:3px 0 3px 10px;
                    text-align: left;
                    margin-bottom:6px;
                    .num{
                        font-size:1.2rem;
                        font-weight: normal;
                    }
                    .name {
                        font-size:1.2rem;
                        margin-left: 3px;
                    }
                    &.bg_blue {
                        background-color: rgba(66,109,193,0.1);
                        .num {
                            color:#426DC1;
                        }
                    }
                    &.bg_red {
                        background-color: rgba(249, 115, 122, 0.1);
                        .num {
                            color:#F9737A;
                        }
                    }
                }
            }
        }
    }
    .desc_area {
        padding-top:2rem;
        span{
            font-size:1.4rem;
            font-weight: 700;
            margin-right:20px;
            &::before {
                vertical-align: middle;
                margin-right:5px;
                content:'';
                display: inline-block;
                @include square(8px);
                border-radius: 50%;
            }
            &.off {
                display: none;
            }
            &.dot1{
                &::before{
                    background-color: #F9737A;
                }
            }
            &.dot2{
                &::before{
                    background-color: #426DC1;
                }
            }
            &.dot3{
                &::before{
                    background-color: #B6E8DA;
                }
                
            }
            &.dot4{
                &::before{
                    background-color: #FFD591;
                }
            }
            &.dot5{
                &::before{
                    background-color: #D1D6DA;
                }
            }
        }
    }
}


.layout_type_03 .info_desc_area {
    dl{
        display: flex;
        align-items: stretch;
        border-top:1px solid #E8EBF0;
        &::after{
            @include clear-both;
        }
        dt{
            width:35%;
            // float:left;
            font-size:1.2rem;
            color:#445365;
            padding:0.9rem 0;
            background-color: #DBDEE5;
            border-right:1px solid #E8EBF0;
            box-sizing: border-box;
            text-align: center;
        }
        dd{
            // float:left;
            width:calc(100% - 40%);
            font-size:1.2rem;
            font-weight: 700;
            padding:0.9rem;
            overflow: hidden;
            //text-indent: 2rem;
        }
        &:last-of-type {
            border-bottom:1px solid #E8EBF0;
            dt{
                height: 20rem;
                line-height: 20rem;
                padding:0;
            }
            dd{
                text-indent: 0;
                //height: 20rem;
                position: relative;
                .text {
                    width:calc(100% - 3rem);
                    // position: absolute;
                    // top:50%;
                    // left:50%;
                    // transform: translate(-50%,-50%);
                    line-height: 1.8;
                    padding:1.5rem;
                    font-size:1.2rem;
                    word-break: break-all;
                }
            }
        }
        &.none_box{
            border:none;
            dt{
                line-height: normal;
                padding:0;
                
            }
            dd{
                height: auto;
                padding:0;
            }
        }
    }
}
.layout_type_03 .search_icon {
    position: absolute;
    top:1rem;
    right:2rem;
    @include square(3.6rem);
    font-size:0;
    text-indent: -99999px;
    background: url(../images/icon/search.svg) center no-repeat;
    border-radius: 0.5rem;
    border:1px solid #E8EBF0;
}

.layout_type_03  .client_input_area {
    margin-bottom:1.2rem;
    &.type{
        input{
            width:11.5rem;
            margin-right:0.5rem;
        }
    }
    span {
        font-size:1.4rem;
        color:#5F6E81;
        margin-right:1rem;
    }
    input{
        width:12rem;
        margin-right:1rem;
    }
}
.layout_type_03  .date_table_type {
    overflow-x: scroll;
    padding-bottom:1rem;
    &.scroll_none {
        overflow-x: visible;
        table{
            width:100%;
        }
    }
    table {
        width:120%;
        table-layout: fixed;
        th{
            padding: 0.8rem;
            text-align: center;
            &:first-of-type {
                padding: 0.8rem;
            }
        }
        td{
            padding: 0.8rem;
            text-align: center;
            &:first-of-type {
                padding: 0.8rem;
            }
        }
        .ellpsis{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.layout_type_03 .form_cont_area {
    .dl_area{
        border-top:1px solid #E8EBF0;
        border-bottom:1px solid #E8EBF0;
    }
    dl {
        padding-top:1.2rem;
        &::after{
            @include clear-both;
        }
        dt{
            float:left;
            width:12%;
            font-size:1.2rem;
            font-weight: 700;
        }
        dd{
            float:left;
            width:calc(100% - 12%);
        }
        &:last-of-type {
            padding-bottom:2rem;
        }
    }

    .radio_area {
        &::after{
            @include clear-both;
        }
        .radio_cont {
            float:left;
            margin-right:1rem;
        }
    }
    .select_area {
        &::after{
            @include clear-both;
        }
        .select_box {
            float:left;
            width:13rem;
            border-radius: 5px;
            border:1px solid #E8EBF0;
            margin-right:1rem;
            &.width {
                width:15rem;
                .current {
                    display: inline-block;
                    padding-left:2.5rem;
                    background: url(../images/icon/calendar.svg) center left no-repeat;
                }
            }
        }
        .nice-select {
            height:3.2rem;
            line-height: 3.2rem;
        }
    }
    textarea {
        width:calc(100% - 2rem);
        padding:1rem;
        height:5rem;
        border-radius: 5px;
        border:1px solid #E8EBF0;
        background-color: #FAFAFA;
        font-size:1.2rem;
        &::placeholder{
            color:#8B95A1;
        }
    }
    input{
        font-size:1.2rem;
        &::placeholder{
            font-size:1.2rem;
        }
    }
    .btn_area {
        margin-top: 2rem;
        text-align: right;
        .btn {
            margin-left:1rem;
            width: 9.2rem;
        }
    }
}

// 접촉 예정 고객 현황
.customer_cont_wrap {
    .left_box {
        position: relative;
        width:calc(60% - 0.5rem);
        .right_msg {
            color:#426DC1;
            font-size:1.2rem;
            position: absolute;
            top:2rem;
            right:2rem;
        }
    }
    .table_height_cont {
        height:96.7rem;
        .date_table_type{
        //height:95rem;
        overflow-y: hidden;
        overflow:hidden;
        }
    }
}

// 가망고객등록/수정 페이지 영역 
.half_cont_type {
    margin-top:2rem;
    padding-bottom:2rem;
    &::after{
        @include clear-both;
    }
    .cont_box {
        float:left;
        width:calc(50% - 5rem);
        //height:calc(100vh - 22rem);
    }
    .cont_box + .cont_box {
        float: right;
    }
}

.half_cont_type .form_cont_area {
    input {
        font-weight: 700;
        &::placeholder {
            font-weight: 400;
        }
    }
    .name_box{
        border-radius: 0.5rem;
        width:100%;
        background-color: #F5F5F5;
        border:1px solid #E8EBF0;
        height: 3.6rem;
        line-height: 3.6rem;
        text-indent: 1rem;
        box-sizing: border-box;
        font-size:1.2rem;
        font-weight: 700;
        color:#8B95A1;
    }
    .float_box {
        margin-bottom:1rem;
        &::after{
            @include clear-both;
        }
        &.pt {
            padding-top:1.4rem;
        }
        
        .left_area{
            width: 49%;
            float:left;
            margin-left:0%;
            &.pd{
                padding-bottom:1.4rem;
            }
            &.mt20{
                margin-top:2rem;
            }
            .name_input {
                //width:27rem;
                font-weight: 700;
            }
            .nic_input {
                margin-right:1rem;
                width:calc(100% - 10.5rem);
            }
            dl {
                padding:0;
                dt {
                    width:20%;
                    &.w15{
                        width:15%;
                        margin-left:10%;
                    }
                }
                dd{
                    width:calc(100% - 20%);
                    position: relative;
                    .hover_box {
                        &.show{
                            display: block;
                        }
                        display: none;
                        position: absolute;
                        top:0;
                        left:0;
                        z-index: 100;
                        width: calc(28rem - 3.2rem);
                        padding:1rem 1.6rem;
                        font-size:1.4rem;
                        line-height: 1.8;
                        word-break: break-all;
                        background-color: #333D4B;
                        color:#fff;
                        border-radius: 0.5rem;
                        &::after{
                            content: '';
                            display: block;
                            width:2.2rem;
                            height:0.9rem;
                            position: absolute;
                            top:-0.08rem;
                            left:50%;
                            transform: translateY(-50%);
                            z-index: 100;
                            background: url(../images/icon/speech_icon.svg) top center no-repeat;
                        }
                    }
                }
            }
            
        }
        .left_area +.left_area{
            margin-left:2%;
            float: right;
            dl {
                margin-top:1rem;
                &.mt{
                    margin-top:2rem;
                }
            }
        }
    }
    dl {
        padding-top:1rem;
        &::after{
            @include clear-both;
        }
        dt{
            float:left;
            width:10%;
            font-size:1.2rem;
            font-weight: 700;
        }
        dd{
            float:right;
            width:calc(100% - 10%);
        }
        &:last-of-type {
            padding-bottom:0rem;
        }
    }
    .line_box{
        margin-top:3rem;
        padding:1.5rem 0;
        border-top:1px solid #E8EBF0;
        dl{
            dt{
                width:12%;
            }
            dd{
                width: calc(100% - 12%);
            }
        }
    }
    .radio_area {
        &::after{
            @include clear-both;
        }
        .radio_cont {
            float:left;
            margin-right:1rem;
        }
    }
    .select_area {
        &::after{
            @include clear-both;
        }
        .select_box {
            float:left;
            width:13rem;
            border-radius: 5px;
            border:1px solid #E8EBF0;
            margin-right:1rem;
            &.width100 {
                width: 93%;
            }
            &.width {
                width:19rem;
                .current {
                    display: inline-block;
                    padding-left:2.5rem;
                    background: url(../images/icon/calendar.svg) center left no-repeat;
                }
            }
        }
        .nice-select {
            height:3.2rem;
            line-height: 3.2rem;
        }
    }
    textarea {
        width:calc(100% - 2rem);
        padding:1rem;
        height:3rem;
        border-radius: 5px;
        border:1px solid #E8EBF0;
        background-color: #FAFAFA;
        font-size:1.2rem;
        &::placeholder{
            color:#8B95A1;
        }
    }
    input{
        font-size:1.2rem;
        &::placeholder{
            font-size:1.2rem;
        }
    }
    .btn_area {
        margin-top: 2rem;
        text-align: right;
        .btn {
            margin-left:1rem;
            width: 9.2rem;
        }
    }
    .msg {
        font-size:1rem;
        color:#426DC1;
        padding-top:0.5rem;
    }
    .three_select_area  {
        .select_area {
            .select_box  {
                width:28%;
            }
        }
    }

    .input_btn {
        input {
            width: 39%;
            &:disabled {
                background-color: #F4F5F7;
            }
        }
        button{
            margin:0 1rem;
        }
        .refresh_btn {
            margin-left:0;
            @include square(36px);
            border-radius: 5px;
            border:1px solid #E8EBF0;
            vertical-align: -12px;
            background: url(../images/icon/refresh.svg) center  no-repeat;
        }
    }

}

.half_cont_type .input_cont_area {
    &::after{
        @include clear-both;
    }

    dl {
        float:right;
        width:50%;
        &::after{
            @include clear-both;
        }
        dt {
            width: 20%;
            float:left;
            font-size:1.4rem;
            color:#5F6E81;
            // margin-bottom:0.9rem;
            margin-top:1rem;
        }
        dd {
            input {
                max-width: 22.4rem;
                margin-right:1rem;
            }
        }
    }
    .radio_area {
        float:left;
        margin-top:1rem;
        &::after{
            @include clear-both;
        }
        .radio_cont {
            float: left;
            margin-right:2rem;
        }
    }
}
.half_cont_type .table_list_cont {
    
    .table_box_area {
        margin-top:2rem;
        .area{
            height:69rem;
            overflow-y: scroll;
            table {
                th:first-of-type {
                    padding: 0.8rem;
                }
                td:first-of-type {
                    padding: 0.8rem;
                }
            }
        }
    }
}

.finace_tit_area {
    &::after{
        @include clear-both;
    }
    .page_tit_area {
        // float:left;
        width:50%;
    }
    .right_lookup_cont {
        // float:right;
        margin-bottom:2rem;
        &::after{
            @include clear-both;
        }
        .select_box {
            width:13rem;
            border:1px solid #E8EBF0;
            background-color: #fff;
            border-radius: 5px;
        }
        .left_select_area {
            float:left;
            &::after{
                @include clear-both;
            }
            .select_box {
                float: left;
                margin-right:1rem;
            }
        }
        .month_select_area {
            float:right;
            &::after{
                @include clear-both;
            }
            .sec_tit {
                font-size:1.4rem;
                color:#5F6E81;
                font-weight: 400;
                float:left;
                margin-top:1rem;
                margin-right:1rem;
                margin-left:3rem;
                position: relative;
            }
            .select_box {
                float: left;
                    background: url(../images/icon/calendar.svg) top 1rem left 1rem no-repeat #fff;
                .selected-type {
                    text-indent: 2.8rem;
                }
            }
            .base_btn {
                float: left;
                margin-left:1rem;
            }
        }
    }
}

.finance_top_cont .status_cont_box{
    margin:2rem 0;
    &::after {
        @include clear-both;
    }
    .box {
        background-color: #426DC1;
        border-radius: 10px;
        float:left;
        width: calc(23.5% - 4rem);
        padding:2rem;
        margin-right:2%;
        &:last-of-type {
            margin-right:0;
        }
        &.red_box {
            background-color: #F9737A;
        }
    }
    p{
        color:#fff;
        font-weight: 700;
        font-size:1.4rem;
    }
    .right_txt {
        text-align: right;
        font-size:2rem;
        padding-top:0.5rem;
        span{
            font-size:4rem;
        }
    }
    dl {
        text-align: right;
        padding-top:1rem;
        dt{
            display: inline-block;
            font-size:1.4rem;
            color:rgba(255,255,255,0.6);
        }
        dd{
            display: inline-block;
            font-size:1.6rem;
            color:#fff;
            font-weight: 700;
            &.icon {
                margin-left:0.5rem;
                vertical-align: -3px;
                @include square(16px);
                border-radius: 50%;
                background: url(../images/icon/down.svg) center  no-repeat rgba(255,255,255,0.1);
                &.up{
                    background: url(../images/icon/up.svg) center  no-repeat rgba(255,255,255,0.1);
                }
            }
        }
        
    }
}

.graph_cont_wrap {
    .graph_area {
        margin-bottom:2rem;
        &::after {
            @include clear-both;
        }
        &.type {
            .half_cont_box {
                float: left;
                width:calc(50% - 1rem);
                margin-right:2rem;
            }
            .cont_box{
                height:36rem;
            }
        }
    }
    .cont_box {
        float:left;
        width:calc(50% - 5rem);
        position: relative;
        height: 46rem;
        //height:calc(100vh - 22rem);
        &::after{
            @include clear-both;
        }
        .dot_txt {
            font-size:1.4rem;
            display: inline-block;
            position: relative;
            padding-left:1.5rem;
            margin-right:1.5rem;
            &::after{
                content:'';
                display:block;
                @include square(8px);
                border-radius: 50%;
                background-color:#F9737A;
                position: absolute;
                top:50%;
                left:0;
                transform: translateY(-50%);
            }
            &.blue1 {
                &::after{
                    background-color:#426DC1;
                }
            }
            &.blue2 {
                &::after{
                    background-color:#5683DB;
                }
            }
            &.blue3 {
                &::after{
                    background-color:#97BAFD;
                }
            }
            &.blue4 {
                &::after{
                    background-color:#CFDEFC;
                }
            }
            &.red1 {
                &::after{
                    background-color:#F9737A;
                }
            }
            &.red2 {
                &::after{
                    background-color:#FF9DA2;
                }
            }
            &.red3 {
                &::after{
                    background-color:#FFB9BC;
                }
            }
            &.red4 {
                &::after{
                    background-color:#FFD9DB;
                }
            }
        }
    }
    .half_cont_box {
        float: right;
        width:calc(50% - 1rem);
        .cont_box {
            float:left;
            // width:50%;
            position: relative;
            background-color: #fff;
        }
        .cont_box + .cont_box {
            float: right;
        }
    }
    .box1_desc{
        position: absolute;
        top:2rem;
        right:2rem;
        .numb {
            font-size:1.4rem;
            color:#8B95A1;
            display: inline-block;
            position: relative;
            margin-left:4rem;
            &::after {
                position: absolute;
                top:50%;
                left:-2.5rem;
                transform: translateY(-50%);
                content: '';
                display: block;
                width:1px;
                height:1.2rem;
                background-color: #E8EBF0;
            }
        }
    }
    .box2_desc {
        text-align: center;
    }
    .graph_type_01 {
        width: 100%;
        height:40rem;
        margin-top:5rem;
        // img{
        //     height: 100%;
        // }
    }
    .graph_type_02 {
        width:28rem;
        margin: 8rem auto;
        position: relative;
        .txt_box {
            text-align: center;
            width:100%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            .num{
                font-size:4rem;
                font-weight: 700;
                margin-bottom:1rem;
            }
        }
    }
    .graph_type_03 {
        margin-top:5rem;
    }
    .graph_type_04 {
        width:95%;
        margin:7rem auto 2rem;
    }

    .radio_area {
        position: absolute;
        top:2.2rem;
        right:2rem;
        &::after{
            @include clear-both;
        }
        .radio_cont {
            float:left;
            margin-right:1rem;
        }
    }
}

.line_graph_cont {
    .line_graph_list {
        margin-top:2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // &::after{
        //     @include clear-both;
        // }
        li{
            // float:left;
            // width:16.66666%;

            .img {
                width: 14.7rem;
                height: 4rem;
                margin-bottom:1.3rem;
            }
            dl {
                dt{
                    font-size:1.6rem;
                    font-weight: 400;
                    span{
                        font-size:3.4rem;
                        margin-right:1rem;
                        font-weight: 700;
                    }
                }
                dd{
                    font-size:1.4rem;
                    color:#8B95A1;
                    font-weight: 700;
                    margin-top:1.2rem;
                }
            }
        }
    }
}
.data_table_cont {
    padding-bottom:2rem;
    .cont_box {
        margin-top:2rem;
    }
    .total_table_area {
        table {
            width:100%;
            th {
                text-align: center;
                padding:1rem; 
            }
            td{
                padding:1rem 1.5rem; 
                text-align: right;
                &:first-of-type {
                    background-color: #F4F5F7;
                    font-weight: 400;
                    color:#445365;
                    text-align: center;
                }
                &.tit_box{
                    background-color: #F4F5F7;
                    font-weight: 400;
                    color:#445365;
                    text-align: left;
                }
            }
            tr:last-of-type td{
                background-color: #E5E8EC;
            }
            tr:last-of-type td:first-of-type{
                font-weight: 700;
                color:#333D4B;
            }
        }
    }
}


.total_lookup_cont {
    padding:0rem 0 2rem 0;
    position: relative;
    &::after{
        @include clear-both;
    }
    .sec_box {
        float:left;
        margin-right:2rem;
        &::after {
            @include clear-both;
        }
        
        .tit_text{
            float:left;
            font-size:1.4rem;
            color:#5F6E81;
            margin-top:1rem;
            margin-right:1rem;
        }
        .right_area {
            float: left;
        }
        &:last-of-type {
            margin-right:0;
            .right_area {
                width:25rem;
                input {
                    background: url(../images/icon/search_02.svg) center right 1rem no-repeat #fff;
                    font-weight: 700;
                &::placeholder{
                    font-weight: 400;
                }
                }
            }
        }
    }

    .select_box {
        width:13rem;
        border:1px solid #E8EBF0;
        background-color: #fff;
        border-radius: 5px;
    }

    .three_select_area {
        &::after{
            @include clear-both;
        }
        .select_box {
            float:left;
            margin-right:1rem;
        }
    }

    .month_select_area {
        position: absolute;
        top:0;
        right:0;
        &::after{
            @include clear-both;
        }
        span{
            display:block;
            float:left;
            margin:0 0.6rem;
            font-size:1.4rem;
            color:#5F6E81;
            margin-top:1rem;
        }
        .sec_tit {
            font-size:1.4rem;
            color:#5F6E81;
            font-weight: 400;
            float:left;
            margin-top:1rem;
            margin-right:1rem;
            position: relative;
        }
        .select_box {
            float: left;
                background: url(../images/icon/calendar.svg) top 1rem left 1rem no-repeat #fff;
            .selected-type {
                text-indent: 2.8rem;
            }
        }
        .base_btn {
            float: left;
            margin-left:1rem;
        }
    }
}

.bond_cont_wrap {
    position: relative;
    .sub_tit {
        font-size:1.6rem;
        color:#8B95A1;
        margin-left: 2rem;
    }
    .radio_area {
        position: absolute;
        top:2.3rem;
        left:12rem;
        &::after{
            @include clear-both;
        }
        .radio_cont {
            float:left;
            margin-right:1rem;
        }
    }
    .seach_cont_area {
        position: absolute;
        top:1.5rem;
        right:2rem;
        &::after {
            @include clear-both;
        }
        
        .tit_text{
            float:left;
            font-size:1.4rem;
            color:#5F6E81;
            margin-top:1rem;
            margin-right:1rem;
        }
        .right_area {
            float: left;
            width:35rem;
            input {
                background: url(../images/icon/search_02.svg) center right 1rem no-repeat #fff;
                font-weight: 700;
                &::placeholder{
                    font-weight: 400;
                }
            }
        }
    }

    .table_type_01 {
        table{
            width: 100%;
            th{
                text-align: center;
                padding:0.8rem;
                &:nth-of-type(2){
                    text-align: left;
                }
            }
            td{
                text-align: center;
                padding:0.8rem;
                &:nth-of-type(2){
                    text-align: left;
                }
            }
        }
    }
}
.totalInfo_cont_area {
    padding-bottom:2rem;
    position: relative;
    .sub_tit {
        font-size:1.6rem;
        color:#8B95A1;
        margin-left: 2rem;
    }
    .seach_cont_area {
        position: absolute;
        top:1.5rem;
        right:2rem;
        &::after {
            @include clear-both;
        }
        
        .tit_text{
            float:left;
            font-size:1.4rem;
            color:#5F6E81;
            margin-top:1rem;
            margin-right:1rem;
        }
        .right_area {
            float: left;
            width:29rem;
            input {
                background: url(../images/icon/search_02.svg) center right 1rem no-repeat #fff;
                font-weight: 700;
                &::placeholder{
                    font-weight: 400;
                }
            }
        }
    }

    .scroll_table_type {
        // overflow-x: scroll;
        //padding-bottom: 1rem;
        table{
            width: 100%;
            th{
                text-align: center;
                padding:0.8rem;
                &:nth-of-type(2){
                    text-align: left;
                }
            }
            td{
                text-align: center;
                padding:0.8rem;
                &:nth-of-type(2){
                    text-align: left;
                }
            }
        }
    }
    .table_type_01 {
        //padding-bottom: 1rem;
        table{
            width: 100%;
            th{
                text-align: center;
                padding:0.8rem;
                &:nth-of-type(3){
                    // text-align: left;
                }
            }
            td{
                text-align: center;
                padding:0.8rem;
                &:nth-of-type(3){
                    text-align: left;
                }
            }
        }
    }
    .input_cont_area {
        position: absolute;
        top:1.2rem;
        right:2rem;
        &::after{
            @include clear-both;
        }
        .input_box {
            float:left;
            margin-left:2rem;
            span{
                font-size:1.4rem;
                color:#5F6E81;
                margin-right:1rem;
            }
            input[type="text"]{
                width: 12rem;
                &:disabled{
                    background: #F4F5F7;
                    color:#8B95A1;
                }
            }
        }
    }

}

// 마이페이지_마이페이지
.info_main_wrap {
    .info_cont_area {
        margin:2rem 0 4rem;
    }

    .cont_box{
        position: relative;
        &::after{
            @include clear-both;
        }
        .info_box {
            float:left;
            &::after{
                @include clear-both;
            }
            .img_area {
                float:left;
                @include square(9rem);
                border-radius: 50%;
                position: relative;
                //background-color: #eee;
                // button{
                //     position: absolute;
                //     bottom:0;
                //     right:0;
                //     @include square(2.8rem);
                //     border-radius: 50%;
                //     background: url(../images/icon/icon_cam.svg) center no-repeat;
                //     @include boxShadow;
                // }
            }
            dl{
                float: left;
                margin-left:2rem;
                padding:2rem 4rem 2rem 0rem;
                border-right:1px solid #E8EBF0;
                dt{
                    font-size:2rem;
                    color:#333D4B;
                    font-weight: 700;
                    margin-bottom:8px;
                }
                dd{
                    color:#8B95A1;
                    font-size:1.6rem;
                }
            }

        }
        .radio_cont_area {
            float:left;
            margin-top:3rem;
            .radio_area {
                padding:2rem 4rem;
                &::after{
                    @include clear-both;
                }
                .radio_cont {
                    float:left;
                    margin-right:2rem;
                    input[type="radio"] + label{
                        font-size:1.4rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.mypage_list_cont {
    .list_tit {
        font-size:1.6rem;
        font-weight: 700;
        margin-bottom:1.8rem;
    }

    .list_item_area {
        &::after{
            @include clear-both;
        }
        .cont_box {
            float:left;
            margin-right:1.5%;
            padding:0;
            width:15.416666%;
            &:last-of-type{
                margin-right:0;
            }
            .item{
                padding:2rem;
                text-align: center;
                .icon{
                    margin:auto;
                    @include square(5.4rem);
                    background: url(../images/icon/list_icon_02.svg) center no-repeat;
                    border-radius: 50%;
                    &.icon2{
                        background: url(../images/icon/list_icon_01.svg) center no-repeat #7CC7B3;
                        background-size: contain;
                    }
                    &.icon3{
                        background: url(../images/icon/list_icon_03.svg) center no-repeat;
                        background-size: contain;
                    }
                    &.icon4{
                        background: url(../images/icon/list_icon_04.svg) center no-repeat;
                        background-size: contain;
                    }
                    
                }
                .num_txt {
                    font-size: 6rem;
                    font-weight: 700;
                    margin-top:1.3rem;
                    text-align: center;
                }
                a {
                    font-size:2rem;
                    color:#8B95A1;
                    font-weight: 700;
                    margin-top:1.2rem;
                    display:inline-block;
                    padding-right:3.5rem;
                    background: url(../images/icon/chevron_left.svg) center right no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .day_item_area {
        &::after{
            @include clear-both;
        }
        .cont_box {
            float:left;
            margin-right:1.5%;
            padding:0;
            width:32.33333%;
            margin-bottom:1.5%;
            &:nth-of-type(3n){
                margin-right: 0;
            }
            .item{
                padding:2rem;
                display: flex;
                align-items: center;
                .icon{
                    @include square(5.2rem);
                    margin-right:4rem;
                    background: url(../images/icon/day_icon_01.svg) center no-repeat;
                    &.icon2{
                        background: url(../images/icon/day_icon_02.svg) center no-repeat;
                        background-size: contain;
                    }
                    &.icon3{
                        background: url(../images/icon/day_icon_03.svg) center no-repeat;
                        background-size: contain;
                    }
                    &.icon4{
                        background: url(../images/icon/day_icon_04.svg) center no-repeat;
                        background-size: contain;
                    }
                }
                .desc_box{
                    .num_txt{
                        font-size: 4.8rem;
                        font-weight: 700;
                        .small{
                            font-size:1.2rem;
                            color:#333D4B;
                            font-weight: 400;
                            margin-left:1.5rem;
                        }
                        i{
                            display: inline-block;
                            @include square(2.4rem);
                            background: url(../images/icon/list_up.svg) center no-repeat;
                            vertical-align: 1rem;
                            margin-right:1rem;
                            &.down{
                                background: url(../images/icon/list_down.svg) center no-repeat;
                            }
                        }
                    }
                    a {
                        font-size:1.6rem;
                        color:#8B95A1;
                        font-weight: 700;
                        margin-top:1.2rem;
                        display:inline-block;
                        padding-right:3rem;
                        background: url(../images/icon/chevron_left.svg) center right no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

.setting_half_cont {
    .cont_box {
        float:left;
        width:calc(50% - 5rem); 

        table {
            .center_txt{
                text-align:center;
        }
    }
    

    .radio_cont {
        position: relative;
    }
    input[type="radio"]+label {
        position: static;
        width: 1.6rem;
        padding-left: 0px;
        font-size: 1.2rem;
        color: #757575;
        /* text color*/
    }
    
    input[type="radio"]+label:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.6rem;
        height: 1.6rem;
        background: url(../images/icon/radio_off_02.svg) center no-repeat;
        background-size: contain;
    }
    input[type="radio"]:checked+label {
        font-weight: 700;
    }
    input[type="radio"]:checked+label:after {
        background: url(../images/icon/radio_on_02.svg) center no-repeat;
        background-size: contain;
    }
    }
    .cont_box +.cont_box {
        float:right;
    }

}

.icon_btn_area {
    text-align: left;
    &::after{
        @include clear-both;
    }
    .icon_item_area {
        float: left;
        button{
            @include square(36px);
            box-sizing: border-box;
            border:1px solid #D1D6DA;
            border-radius: 5px;
            text-indent: -9999px;
            background: url(../images/icon/icon_up.svg) center  no-repeat;
            &:nth-of-type(2){
                background: url(../images/icon/icon_down.svg) center  no-repeat;
            }
            &:nth-of-type(3){
                background: url(../images/icon/icon_top.svg) center  no-repeat;
            }
            &:nth-of-type(4){
                background: url(../images/icon/icon_bottom.svg) center  no-repeat;
            }
        }
    }
    .line_btn {
        padding:0.9rem 3rem;
    }
}

.last_btn_area {
    text-align: right;
    padding:2rem 0;
    .reset_btn {
        padding:0.9rem 2.3rem;
        color:#012A50;
        background-color:#E8EBF0;
        border:1px solid#D1D6DA;
        margin-right:10px;
    }
}

.favor_box_area {
    table {
        td{
            padding:1.3rem !important;
        }
    }
}




