/*font*/

* {
    -webkit-text-size-adjust: none;
}
/* 모든 Device를 위한 공통 로드 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure,
figcaption,
span {
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
}
body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p
hr,
button,
input,
form,
fieldset,
table,
caption,
th,
td,
header,
nav,
section,
article,
aside,
footer,
textarea {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic','Noto Sans KR', sans-serif;
  font-size: 10px;
  color: #333D4B;
}


html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-width: 1500px; 
}


header,
nav,
section,
article,
aside,
footer {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

ol,
ul {
  list-style: none; }

legend,
caption {
    text-indent: -100%;
    *text-indent: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    color: transparent;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

table,
th,
td {
  border: none;
  text-align: left; }

th,
label {
  font-weight: normal; }

address {
  font-style: normal; }

button,
input {
  border: none;
  background: none; }

button:focus,
input:focus {
  outline: none; }

button,
a,
input,
label {
  cursor: pointer;
  text-decoration: none;
  outline: 0; }

input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type='checkbox']:disabled,
input[type='radio']:disabled,
button:disabled {
  cursor: no-drop; }

input[type='checkbox']:disabled + label,
input[type='radio']:disabled + label {
  cursor: no-drop; }

a {
  text-decoration: none;
color:#000; }

input::-ms-clear {
  display: none; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {resize: none; }
textarea:placeholder {color: #6b6b6b; }
textarea:focus {outline: none; }

/* select*/
select {
  border-radius: 0; /* 아이폰 사파리 보더 없애기 */
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none; /* 화살표 없애기 for firefox*/
  appearance: none;/* 화살표 없애기 공통*/

  /* background: url(../../imgs/common/arrow_drop_down.png) center right 5px no-repeat;
  font-size: 16px;
  color: #172A48;
  font-weight: 500;
  min-width: 100px; */
}
select::-ms-expand {display: none;/* 화살표 없애기 for IE10, 11*/}




/* 스크롤 css */
/*
.scroll_box::-webkit-scrollbar {
    width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll_box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #E2E8EB;
}

.scroll_box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
*/

/* input 체크박스 만들기  */
/*
input[type="checkbox"]:checked + label:after {
    background: url(../../imgs/common/bg_checkbox_on.png) center /100% no-repeat;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    color: #A2A2A2;
}

input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 20px;
    height: 20px;
background: url(../../imgs/common/bg_checkbox_off.png) center /100% no-repeat;}
*/


/* font 파일 연결시 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../../font/NanumGothic-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../../font/NanumGothic-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../../font/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../../font/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url(../../font/NotoSansKR-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../../font/NotoSansKR-Bold.woff) format('woff');
}

/* margin */
.mr0 {
  margin-right: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 1.5rem !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt100 {
  margin-top: 100px !important;
}


.mtM10 {
  margin-top: -10px !important
}

.ml0 {
  margin-left: 0 !important;
}

.mr1 {
  margin-right: 1px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mr30 {
  margin-right: 30px !important;
}

/* padding */
.pt0 {
  padding-top: 0 !important;
}

.pb6 {
  padding-bottom: 6px !important;
}

.pb20 {
  padding-bottom: 2rem !important;
}

.pb10 {
  padding-bottom: 1.5rem !important;
}

.pl0 {
  padding-left: 0 !important;
}


.pr0 {
  padding-right: 0 !important;
}

@media (max-width:1850px){
  html{
    font-size:9px;
  }
}

@media (max-width:1750px){
  html{
    font-size:8px;
  }
}

/* @media (max-width:1500px){
  html{
    font-size:8px;
  }
}
 */
